<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<link rel="stylesheet" href="styles.css">

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class='effectClasses'></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['teal', 'thin']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="userClass">
    <div :class="userClass"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="userClass2">
    <input type="text" v-model="border">
    <div :class="[userClass2, enterClass]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="userStyle">
    <div :style="[{height: '100px'}, {backgroundColor: userStyle}]"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button @click='startProgress'>Start Progress</button>
    <div :class="['progress-bar']" :style="[{width: progress + 'px'}]"></div>
  </div>
</div>

<script>
  new Vue({
    el: '#exercise',
    data: {
      effectClasses: {
        highlight: false,
        shrink: true
      },
      userClass: 'teal',
      userClass2: 'class2',
      border: 'true',
      userStyle: null,
      progress: 0
    },
    methods: {
      startEffect() {
        var vm = this;
        setInterval(() => {
          vm.effectClasses.highlight = !vm.effectClasses.highlight;
          vm.effectClasses.shrink = !vm.effectClasses.shrink;
        }, 500);
      },
      startProgress() {
        const vm = this;
        setInterval(() => {
          while (vm.progress < 200) {
            return vm.progress += 10;
          }
        }, 100);
      }
    },
    computed: {
      enterClass() {
        if (this.border === 'true') {
          return 'border'
        } else if (this.border === 'false') {
          return 'shadow'
        }

      }
    }
  })
</script>